<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Youtube Downlaoder</title> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link rel="stylesheet" href="/static/styles/main.css">
    </head>
    <body>
        <h1>Youtube Downlaoder</h1>
        <form method="post" action="/submit">
            <label for="url">Please Input first URL: 		<input type="text" name="url-1">            </label>
            <label for="url">Please Input second URL: 		<input type="text" name="url-2">            </label>

            <button type="submit">Submit</button>
        </form>
        {% if filename %}
		<span>Downlaoded {{ filename }} </span>
	{% endif %}
    </body>
</html>